venv/
static/images
*.pyc
config.py
app.py
.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
LineLeap/build/
LineLeap/DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
LineLeap/xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
