{% extends "base.html" %}
{% block content %}
    <div id="content">
    </div>
    <script type="text/javascript">
        function hello(myId) {
            window.location.href = "/ij1dz07o/p3/pic?picid="+myId;
            //Do stuff when clicked
        }

        $(document).ready(function () {
          //event.preventDefault();
          var albumid = window.location.href.split('=')[1];

     /*   window.onpopstate = function(event) { 
          document.getElementById("content").innerHTML =  event;
        }
        history.pushState(state2Obj, "title", "?state=2");
*/
  /*      $("a").click(function(){
          var stuff = {choose: album}, {id: data['albumid']}
          history.pushState(stuff, "album", window.location.href = "/ij1dz07o/p3/pic?picid="+data['albumid']);
        });
*/
          $.ajax({
            type: "GET",
            contentType: "application/json; charset=UTF-8",
            data: {},
            url: ("/ij1dz07o/p3/api/v1/album/" + albumid),
            success: function(data) {
              htmlStr = "";
              htmlStr += "<h2>"+data['title']+"</h2>";
              htmlStr += "<h4>"+data['username']+"</h4>";

              $.ajax({
              	type: "GET",
              	contentType: "application/json; charset=UTF-8",
              	data: {},
              	url: "{{url_for('api.userApi')}}",
              	success: function(userdata) {
                  if (userdata['username'] === data['username']){
                    htmlStr += "<a class=pure-button id=album_edit_"+data['albumid']+"_link href=/ij1dz07o/p3/album/edit?albumid=" + data['albumid'] + ">EDIT</a>";
                    $("#content").html(htmlStr);
                  }
                },
              	error: function(error) {
                  if (error.status === 403){
                    htmlStr = "";
                    htmlStr += "<p class='error'>You do not have the necessary permissions for the resource</p>"
                    $("#content").html(htmlStr);
                  }
                }
              });

              htmlStr += "<br></br>"
              mypics = data['pics'];

              var i;
              for (i = 0; i < mypics.length; ++i) {
                  htmlStr += "<a onClick=hello('"+mypics[i]['picid']+"') id=pic_"+mypics[i]['picid']+"_link ><img src=/static/images/"+ mypics[i]['picid'] +"."+mypics[i]['format']+"></a><br></br>";
                  htmlStr += "Caption: "+mypics[i]['caption']+"<br>";
                  htmlStr += "Date Created: "+mypics[i]['date'];
                  htmlStr += "<br><br><br>";
              }


              $("#content").html(htmlStr);
            },
            error: function(error) {
              if (error.status === 403){
                htmlStr = "";
                htmlStr += "<p class='error'>You do not have the necessary permissions for the resource</p>"
                $("#content").html(htmlStr);
              }
              if (error.status === 401){
                htmlStr = "";
                htmlStr += "<p class='error'>You do not have the necessary credentials for the resource</p>"
                $("#content").html(htmlStr);
              }
            }
          });
        });

    </script>
{% endblock %}
