{% extends "base.html" %}
{% block content %}
    <div id="content">
    </div>
    <script type="text/javascript">
    function hello(myId) {
          console.log(myId)
          window.location.href = "/ij1dz07o/p3/pic?picid="+myId;
          //Do stuff when clicked
    }
    $(document).ready(function () {

      window.onpopstate = function(event) { 
        htmlStr = ""
        htmlStr += "<a><img src=/static/images/"+ event.state.id +"."+format+"></a><br></br>";
        $("#content").html(htmlStr);
      }

      $("#next_pic").click(function(){
          var mypicid = window.location.href.split('=')[1];
          if (mypicid !== data['prev']){

            htmlStr = ""
            htmlStr += "<a><img src=/static/images/"+ data['prev'] +"."+format+"></a><br></br>";
            $("#content").html(htmlStr);
          } else {
            var stuff = {id: data['picid'], format: data['format']};
            history.pushState(stuff, "pic", window.location.href = "/ij1dz07o/p3/pic?picid="+data['prev']);
          }
      });

      $("#prev_pic").click(function(){
         var mypicid = window.location.href.split('=')[1];
          if (mypicid !== data['next']){
            console.log("HERE")
            htmlStr = ""
            htmlStr += "<a><img src=/static/images/"+ data['next'] +"."+format+"></a><br></br>";
            $("#content").html(htmlStr);
           } else {
            var stuff = {id: data['picid'], format: data['format']};
            history.pushState(stuff, "pic", window.location.href = "/ij1dz07o/p3/pic?picid="+data['next']);
          }
      });

      // event.preventDefault();
      var picid = window.location.href.split('=')[1];
      $.ajax({
        type: "GET",
        contentType: "application/json; charset=UTF-8",
        data: {},
        url: ("/ij1dz07o/p3/api/v1/pic/" + picid),
        success: function(data) {
          htmlStr = "";
          htmlStr += "<a><img src=/static/images/"+ picid +"."+data['format']+"></a><br></br>";
          $.ajax({
            type: "GET",
            contentType: "application/json; charset=UTF-8",
            data: {},
            url: "{{url_for('api.userApi')}}",
            success: function(userdata) {
              var currUser = userdata['username']
              $.ajax({
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                data: {},
                url: "/ij1dz07o/p3/api/v1/album/" + data['albumid'],
                success: function(albumdata) {
                  if (currUser === albumdata['username']){
                    htmlStr += "<form id='change_caption' method='POST'><input type='hidden' id='my_albumid' name='albumid' value="+data['albumid']+"><input type='hidden' id='my_format' name='format' value="+data['format']+"><input type='hidden' id='my_next' name='next' value="+data['next']+"><input type='hidden' id='my_prev' name='prev' value="+data['prev']+"><input type='hidden' id='my_picid' name='picid' value="+data['picid']+"><input type='text' id='my_caption' onkeypress='return AddKeyPress(event);'></input></form>"
                    $("#content").html(htmlStr);
                  } else {
                    htmlStr += "<h4>Caption:</h4><p id='pic_"+picid+"_caption'>"+data['caption']+"</p><br></br>";
                    $("#content").html(htmlStr);
                  }
                },
                error: function(error) {
                  if (error.status === 403){
                    htmlStr = "";
                    htmlStr += "<p class='error'>You do not have the necessary permissions for the resource</p>"
                    $("#content").html(htmlStr);
                  }
                  // if (error.status === 401){
                  //   htmlStr = "";
                  //   htmlStr += "<p class='error'>You do not have the necessary credentials for the resource</p>"
                  //   $("#content").html(htmlStr);
                  // }
                }
              });
            },
            error: function(error) {
              if (error.status === 403){
                htmlStr = "";
                htmlStr += "<p class='error'>You do not have the necessary permissions for the resource</p>"
                $("#content").html(htmlStr);
              }
              // if (error.status === 401){
              //   htmlStr = "";
              //   htmlStr += "<p class='error'>You do not have the necessary credentials for the resource</p>"
              //   $("#content").html(htmlStr);
              // }


            }
          });
          if(data['prev'] !== ""){
            htmlStr += "<a id='next_pic' onClick=hello('"+data['prev']+"')<img src=/static/images/"+ data['prev'] +"."+data['format']+"><br></br><button>prev</button></a>";
          }else{
            htmlStr += "<a id='next_pic'<img src=/static/images/"+ data['prev'] +"."+data['format']+"><br></br><button>prev</button></a>";
          }
          if(data['next'] !== ""){
            htmlStr += "<a id='prev_pic' onClick=hello('"+data['next']+"')<img src=/static/images/"+ data['next'] +"."+data['format']+"><button>next</button></a>";
          }else{
            htmlStr += "<a id='prev_pic'<img src=/static/images/"+ data['next'] +"."+data['format']+"><button>next</button></a>";
          }
          $("#content").html(htmlStr);
        },
        error: function(error) {
          if (error.status === 403){
            htmlStr = "";
            htmlStr += "<p class='error'>You do not have the necessary permissions for the resource</p>"
            $("#content").html(htmlStr);
          }
          if (error.status === 401){
            htmlStr = "";
            htmlStr += "<p class='error'>You do not have the necessary credentials for the resource</p>"
            $("#content").html(htmlStr);
          }
        }
      });
    });
    function AddKeyPress(e) {
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13) {
          event.preventDefault();
          var captionin = document.getElementById("my_caption")
          console.log(captionin.value)
          console.log("HERE")
          var albumidin = document.getElementById("my_albumid")
          var formatin = document.getElementById("my_format")
          var nextin = document.getElementById("my_prev")
          var picidin = document.getElementById("my_picid")
          var previn = document.getElementById("my_next")
          var newd = {
            albumid: albumidin.value,
            caption: captionin.value,
            format: formatin.value,
            next: nextin.value,
            picid: picidin.value,
            prev: previn.value
          }
          $.ajax({
            type: "PUT",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify(newd),
            url: "/ij1dz07o/p3/api/v1/pic/" + picidin.value,
            success: function(data) {
              console.log("Worked!");
              populate()
            },
            error: function(error) {
              console.log("Didn't work... :c");
              console.log(error);
            }
          });
        }
    }

    $('#change_caption').submit(function(event){
      event.preventDefault();
      var captionin = document.getElementById("my_caption")
      console.log(caption)
      var albumidin = document.getElementById("my_albumid")
      var formatin = document.getElementById("my_format")
      var nextin = document.getElementById("my_prev")
      var picidin = document.getElementById("my_picid")
      var previn = document.getElementById("my_next")
      var newd = {
        albumid: albumidin.value,
        caption: captionin.value,
        format: formatin.value,
        next: nextin.value,
        picid: picidin.value,
        prev: previn.value
      }
      $.ajax({
        type: "PUT",
        contentType: "application/json; charset=UTF-8",
        data: {},
        url: "/ij1dz07o/p3/api/v1/pic/" + picid,
        success: function(data) {
          console.log("Worked!");
          populate()
        },
        error: function(error) {
          console.log("Didn't work... :c");
          console.log(error);
        }
      });
    });

    </script>
{% endblock %}