{% extends "base.html" %}
{% block content %}
<div id="errors"></div>
<div id="content">
  <script type="text/javascript">
    $(document).ready(function () {
      $('#new_user').submit(function(event){
        event.preventDefault();

        var uname=document.getElementById( "new_firstname_input" );
        var fname=document.getElementById( "new_firstname_input" );
        var lname=document.getElementById( "new_lastname_input" );
        var passw1=document.getElementById( "new_password1_input" );
        var passw2=document.getElementById( "new_password2_input" );
        var emailin=document.getElementById( "new_email_input" );
        // check variables

        //VALIDATION CHECKS
        error = false;
        errors = [];
        passcheck = true;

        if (passw1.length == 0 && passw2.length == 0) {
          passcheck = false;
        }

        if (uname.length < 3){
          error = true;
          errors.push("Usernames must be at least 3 characters long");
        }
        if (!(/^\w+$/.test(uname.value))){
          error = true;
          errors.push("Usernames may only contain letters, digits and underscores");
        }
        if (passcheck && passw1.length < 8 ){
          error = true;
          errors.push("Passwords must be at least 8 characters long");
        }
        if (passcheck && !(/\d/.test(passw1.value) && /[a-zA-Z]/.test(passw1.value))) {
          error = true;
          errors.push("Passwords must contain at least one letter and one number");
        }
        if (passcheck && (/\W/.test(passw1.value))){
          error = true;
          errors.push("Passwords may only contain letters, digits and underscores")
        }
        if (passcheck && (passw1.value != passw2.value)) {
          error = true;
          errors.push("Passwords do not match")
        }
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!re.test(emailin.value)){
          error = true;
          errors.push("Email address must be valid")
        }
        if (uname.length > 20) {
          error = true;
          errors.push("Username must be no longer than 20 characters")
        }
        if (fname.length > 20) {
          error = true;
          errors.push("Firstname must be no longer than 20 characters")
        }
        if (lname.length > 20) {
          error = true;
          errors.push("Lastname must be no longer than 20 characters")
        }
        if (emailin.length > 40) {
          error = true;
          errors.push("Email must be no longer than 40 characters")
        }
        if (error) {
          htmlStr = "";
          var i;
          for (i = 0; i < errors.length; ++i) {
              htmlStr += "<p class='error'>"+errors[i]+"</p>";
          }
          $("#errors").html(htmlStr);
        } else {
          var data = {
            username: uname.value,
            firstname: fname.value,
            lastname: lname.value,
            password1: passw1.value,
            password2: passw2.value,
            email: emailin.value
          }
          $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify(data),
            url: "{{url_for('api.userApi')}}",
            success: function(data) {
              window.location.href="/ij1dz07o/p3/login";
            },
            error: function(error) {
              htmlStr = "";
              htmlStr += "<p class='error'>"+error.responseTest+"</p>"
              $("#content").html(htmlStr);
            }
          });
        }
     });
   });

  </script>
  <div id="errors"></div>
  <form id="new_user" method='POST'>
      <label> Username </label>
      <input id="new_username_input" type="text" name="username">
      <br> </br>
      <label> Firstname </label>
      <input id="new_firstname_input" type="text" name="firstname">
      <br> </br>
      <label> Lastname </label>
      <input id="new_lastname_input" type="text" name="lastname">
      <br> </br>
      <label> Password1 </label>
      <input id="new_password1_input" type="password" name="password1">
      <br> </br>
      <label> Password2 </label>
      <input id="new_password2_input" type="password" name="password2">
      <br> </br>
      <label> Email </label>
      <input id="new_email_input" type="text" name="email">
      <br> </br>
      <label> Submit </label>
      <input id="new_submit" type="submit" value="Submit"><br>
  </form>
</div>


{% endblock %}
